@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.mainContainer{
    width:1250px;
    margin: 0 auto;
    overflow: hidden;
}
nav#navication {
    background: #5f5f5f;
    overflow: hidden;
}

.navMenu li {
    list-style: none;
}

.navMenu li a {
    text-decoration: none;
    float: left;
    padding: 18px 32px;
    color: #fff;
    /* background: #62bfe6; */
    border-right: 1px solid #717171;
    font-weight: 700;
    transition: .5s;
}
.navMenu li a:hover {
    background: #ffbd5b;
}
a.activ {
    background: #ffbd5b;
}

.foodTitle {
    float: left;
}

.foodTitle h1 {
    font-size: 3.5em;
    line-height: 1.9cm;
    color: #515151;
}

.foodTitle p {
    width: 60%;
    font-size: 17px;
    margin: 41px 0;
    color: #666;
    line-height: 2em;
    margin-bottom: 4em;
}

.foodTitle a {
    text-decoration: none;
    background-image: linear-gradient(45deg,orange,tomato);
    color: #fff;
    padding: 12px 23px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #ff5f56;
}

.imgBox {
    width: 49%;
    float: left;
    height:37em;
}

section#foodNetwork {
    overflow: hidden;
    margin-top: 7%;
}

.imgBox img {
    width: 100%;
    margin-top: -16px;
    height:100%
}
.foodTitle span {
    color: #ffbd5b;
}
section#myDetails {
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.myImg {
    width: 50%;
    float: left;
}

.myImg img {
    width: 50%;
}
section#myDetails {
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 3em;
    margin: 3% 0;
}

.myImg {
    width: 50%;
    float: left;
   
}

.myImg img {
    width: 50%;
    height: 550px;
}

.aboutMe {
    width: 50%;
    float: left;
    padding-top: 5em;
}

.aboutMe h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
    color: #6b6b6b;
    margin: 40px 0;
}

.aboutMe p {
    width: 62%;
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 6em;
}
span.botton a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}

span.botton {
    background-image: linear-gradient(tomato,orange);
    padding: 13px 23px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #ff5f56;
}
.recipie h1 {
    font-size: 40px;
    color: #595959f7;
}

.recipie p {
    font-size: 18px;
    width: 100%;
    margin:45px 0;
}

.recipie {
    text-align: center;
    margin-bottom: 5%;
    width: 45%;
    margin: auto;
}

.recipieMenu {
    width: 326px;
    box-shadow: 0px 0px 16px 0px rgb(185 185 185);
    border-radius: 23px;
    padding: 20px;
    margin: 25px 25px;
    float: left;
}

.recipieMenu img {
    width: 100%;
}

.recipieMenu h2 {
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 38px;
}


.recipieMenu p {
    font-size: 17px;
    color: #1b1b1b;
    line-height: 1.6em;
    margin: 20px 0;
}

img.round {
    border-radius: 6%;
    height: 255px;
}
.youTube {
    text-align: center;
    float: left;
    width: 408px;
}


.youTube h1 {
    font-size: 3em;
    margin-bottom: 16px;
}

.youTube span {
    font-size: 17px;
}
.subscriber-all {
    padding: 50px 0px;
    border-radius: 17px;
    box-shadow: 0px 0px 14px 0px rgb(179 179 179);
    overflow: hidden;
    margin-top: 8%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 7%;
}
.foodNet span {
    color: #ffdb6b;
}

.foodNet h3 {
    letter-spacing: 1px;
    color: #7c7c7c;
    padding-top: 45px;
    font-size: 1.6em;
}

footer#network {
    background: #131313;
    padding-bottom: 8%;
}

.foodNet {
    text-align: center;
}

.foodNet p {
    color: #edeaea;
    font-size: 15px;
    padding-top: 40px;
}
section#contactMe {
    background: #5f5f5f;
    padding: 5% 0;
}

.contacts {
    width: 416px;
    float: left;
    text-align: center;
}
.contact-us {
    text-align: center;
    font-size: 1.5em;
    color: #e7e7e7;
    margin-bottom: 2em;
}



.contacts h3 {
    font-size: 24px;
    margin-bottom: 24px;
    color: #fff;
}

.contacts p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.contact-us span {
    color: #ffdb5b;
}
.contacts a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}